* {
    margin: 0px;
    padding: 0px;
    font: sans-serif;
}


pre code {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    margin-left: 20%;
    margin-right: 20%;
    padding: 10px;
  }
  
.top-section {
    width: 100%;
    height: 30vh;
    background-color: rgb(29, 28, 28);
    text-align: center;
    justify-content: center;
}


p {
    
    justify-content: center;
    font-size: 15px;
    padding: 20px 350px;
    line-height: 1.4em;
}


h2 {
    padding: 20px;
    font-size: 40px;
}

h3 {
    padding: 30px;
    font-size: 32px;
}

.header-text {
    color: white;
    font-weight: 700;
    line-height: 1.1em;
}

.imagecenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}